streamlit
pandas
numpy

langchain
langchain-core
langchain-community
langchain-text-splitters
langchain-groq
langchain-chroma
chromadb

sentence-transformers
langchain-huggingface
torch
pypdf

python-dotenv